%body
      
  %h2
    Welcome! 
      
  %p
    Here, you can find all sorts of usefull information.
    Anything from how to tie your shoe to how to become a millionaire, right here.
    All you have to do is wire your life savings to my account. Just follow the
    instructions at the bottom of the page and you too will become a well-dressed
    millionaire!
