%body
      
  %h2
    Welcome! 
      
  %p
    This site belongs to me, Samuel. This is where I practices my web making skills. The page that you are
    currently on is the "home" page. This is always the first page that you will see when you go
    to my site.

  %p
    And the thing is, I'm not sure what type of information to put on here yet. So I'm sorta just typing
    random things to take up space. I hope that you don't mind.

  %p
    And I really can't think of any reason why you would be reading this in the first place. I guess that
    you're just board out of your mind. Anywho ... yeah. And really it takes way to long to type all of this,
    so I think that I am going to use a word generator from now on.

  %p
    Okay, so, I was unable to find a word generator so I'll probobly just settle for typing "blah" repeatedly.
    Here goes. Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.
    Alright, I'm over it. There will be no more of that.
